<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess</title>
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js" defer></script>
  </head>
  <body>
    <h2>{{.Player}}</h2>

    <form action="/" method="GET">
      <input type="submit" value="Back" />
    </form>
    <button id="return" value="DidThisWork" type="button" name="testButton">test</button>
    <div class="chess-grid">
      {{$colourLight := true}}
      {{range $board:=.Game.Board.Board}}
        {{range $board}}
          <button {{if $colourLight}} class="light" {{else}} class="dark" {{end}} 
                  value={{.Symbol}} 
                  {{if (eq .Symbol " ")}} name="empty" {{else if .IsBlack}} name="black" {{else}} name="white" {{end}}>
                  {{.Symbol}}</button>
          {{$colourLight = not $colourLight}}
        {{end}}
        {{$colourLight = not $colourLight}}
      {{end}}
    </div>
  </body>
</html>
