<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess</title>
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js" defer></script>
  </head>
  <body>
    <h2 id="playerText">White's Turn</h2>
    <form action="/" method="GET">
      <input type="submit" value="Back" />
    </form>
    <button id="return" value="DidThisWork" type="button" name="testButton">Restart</button>
    <div class="chess-grid">
      {{$colourLight := true}}
      {{$order := 57}}
      {{$row := 0}}
      {{range $board:=.Game.Board.Board}}
        {{$col := 0}}
        {{range $board}}
    <button style="order:{{$order}};"
                  id={{$row}}{{$col}}
                  {{if $colourLight}} class="light" {{else}} class="dark" {{end}} 
                  value={{.Symbol}}
                  {{if (eq .Symbol " ")}} name="empty" {{else if .IsBlack}} name="black" {{else}} name="white" {{end}}>
                  </button>
          {{$col = add $col 1}}
          {{$order = add $order 1}}
          {{$colourLight = not $colourLight}}
        {{end}}
        {{$row = add $row 1}}
        {{$order = minus $order 16}}
        {{$colourLight = not $colourLight}}
      {{end}}
    </div>
  </body>
</html>
