.chess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-gap: 0px;
}

body {
    padding: 0;
    margin: 0;
    /* 00AAF0 */
    background: linear-gradient(to right, #00AAF0, #00FF6F);
}

.dark {
  background-color: rgba(181,136,99,1);
} 

.light {
  background-color: rgba(240, 217, 181, 1);
}

.dark:hover, .light:hover, .piecePromobutton:hover {
  opacity: 0.8 !important;
}

.button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.piecePromobutton {
  height: 150px; 
  width: 150px;
  background-size: 150px 150px; 
  background-position: center;
  display:inline-block;
  margin-right:0.25rem;

}

#playerText {
  text-align: center;
}